body { margin: 20px 40px; color: #111; }
a { color: #3465a4; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-size: 30px; margin-bottom:10px;}
h1 a { color: #111; }
h2 { border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; padding:5px 0; margin-bottom:5px;}
p { margin: 1em 0; }
#nav {float:right;}
#nav span {color:#dedede;}
#users { text-align:right;}
#footer {text-align:center; margin-top:50px; padding-bottom:50px;}
#swfupload-control {margin:10px 0 5px 0;}
.playable {}
.playing {background:#eeeeec;}
.paused {background:#eeeeec;}
#flash div {text-align:center; padding:5px 0; margin-bottom:15px;}
.pad_top {margin-top:20px;}
.disabled, .pending {color:#999;}
.small {color:#999;font-size:90%;}
.invitation_email {width:100%;padding:4px 0px;text-align:right;color:#999;}
.invitation_email:focus {color:#111;}
.invitation_submit {margin-top:-1em;}
.error {color:#8a1f11;font-weight:bold;}
.success {color:#264409;}