<div class="grid_10">

  <h2><%=h @user %> playlist</h2>

  <% if @user.posts.present? %>
    <ul class="playlist">
      <% @user.posts.each do |post| %>
        <li><%= render post %></li>
      <% end %>
    </ul>
  <% end %>

</div>

<div id="users" class="grid_2">

  <h2>following</h2>

  <% if @user.followings.present? %>
    <ul>
      <% @user.followings.sort_by(&:login).each do |user| %>
        <li><%= render user %></li>
      <% end %>
    </ul>
  <% else %>
    <li class="disabled">n/a</li>
  <% end %>

  <h2 class="pad_top">followers</h2>

  <% if @user.followers %>
    <ul>
      <% @user.followers.sort_by(&:login).each do |user| %>
        <li><%= render user %></li>
      <% end %>
    </ul>
  <% else %>
    <li class="disabled">n/a</li>
  <% end %>

</div>