<div class="grid_10">

  <h2><%=h @user %></h2>

  <ul class="playlist">
    <% @user.posts.each do |post| %>
      <li><%= render post %></li>
    <% end if @user.posts %>
  </ul>
  
</div>

<div id="users" class="grid_2">

  <h2>Following</h2>

  <ul>
    <% if @user.followings.present? %>
      <% @user.followings.each do |user| %>
        <li><%= render user %></li>
      <% end %>
    <% else %>
      <li class="disabled">n/a</li>
    <% end %>
  </ul>

  <h2 class="pad_top">Followers</h2>

  <ul>
    <% if @user.followers %>
      <% @user.followers.each do |user| %>
        <li><%= render user %></li>
      <% end %>
    <% else %>
      <li class="disabled">n/a</li>
    <% end %>
  </ul>
  
</div>