<div id="nav">
  <% if user_signed_in? %>
     <%=raw "signed in as #{link_to current_user, current_user}" %> &nbsp; <span>(<%= link_to "sign out", destroy_user_session_path %>)</span>
  <% end %>
</div>