<% form_for Invitation.new do |f| %>
  <p><%= f.text_field :email, :class => 'invitation_email', :title => 'email address' %></p>
  <p><%= f.submit "send", :id => 'new_invitation_submit' %></p>
  <div id="new_invitation_status" class="small"></div>
<% end %>