<div id="control-template">
 <div class="controls">
  <div class="statusbar">
   <div class="loading"></div>
    <div class="position"></div>
  </div>
 </div>
 <div class="timing">
  <div id="sm2_timing" class="timing-data">
   <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
 </div>
 <div class="peak">
  <div class="peak-box"><span class="l"></span><span class="r"></span>
  </div>
 </div>
</div>

<div id="spectrum-container" class="spectrum-container">
 <div class="spectrum-box">
  <div class="spectrum"></div>
 </div>
</div> 
