<script type="text/javascript">
  $(function(){
  	$('#swfupload-control').swfupload({
      upload_url : '<%= posts_path %>',
      flash_url : '/flash/swfupload.swf',
      file_size_limit : '100000',
      file_types : '*.mp3',
      file_types_description : 'mp3s',
      file_upload_limit : '0',
  		button_image_url: "/images/upload.png",
  		button_width: "64",
  		button_height: "27",
  		button_placeholder_id: "swfupload-button",
  		post_params: {"authenticity_token" : '<%= form_authenticity_token %>'},
  		debug: false
  	})
    	.bind('fileQueued', function(event, file){
    		var listitem='<li id="'+file.id+'" >'+
    			file.name+' ('+number_to_human_size(file.size)+') <span class="progressvalue">Pending...</span>'+
    			'<div class="progressbar"><div class="progress"></div></div></li>';
    		$('#swfupload-playlist').prepend(listitem);
    		$(this).swfupload('startUpload');
    	})
    	.bind('uploadStart', function(event, file){
    		$('#swfupload-playlist li#'+file.id).find('span.progressvalue').text('0%');
    	})
    	.bind('uploadProgress', function(event, file, bytesLoaded){
    		var percentage=Math.round((bytesLoaded/file.size)*100);
    		$('#swfupload-playlist li#'+file.id).find('div.progress').css('width', percentage+'%');
    		$('#swfupload-playlist li#'+file.id).find('span.progressvalue').text('Uploading... '+percentage+'%');
    	})
    	.bind('uploadSuccess', function(event, file, serverData){
    		$('#swfupload-playlist li#'+file.id).html($(serverData).fadeIn(1000));
    	})
    	.bind('uploadComplete', function(event, file){
    		$(this).swfupload('startUpload');
    	})
  });
</script>
