<% session_key_name = Rails.application.config.session_options[:key] %>
<script type="text/javascript">
  $(document).ready(function(){
    if ($('#swfupload-button').length) {
      var swfu;
      swfu = new SWFUpload({
        debug : false,
        flash_url : '/flash/swfupload.swf',
        upload_url : '<%= posts_path %>',
        post_params : {
          '<%= session_key_name %>' : encodeURIComponent('<%= u cookies[session_key_name] %>'),
          'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>')
        },
        button_image_url : '/images/upload.png',
        button_placeholder_id : "swfupload-button",
        button_width: 64,
        button_height: 27,
        file_size_limit : 0,
        file_upload_limit : 0,
        file_types : '*.mp3;*.mp4;*.m4a',
        file_queued_handler : fileQueued,
        upload_start_handler : uploadStart,
        upload_progress_handler : uploadProgress,
        upload_success_handler : uploadSuccess,
        upload_complete_handler : uploadComplete
      });
    }

    function fileQueued(file){
      var listitem='<li class="pending" id="'+file.id+'" >'+file.name+' ('+human_size(file.size)+') <span class="progress">Pending...</span>';
      $('#swfupload-playlist').prepend(listitem);
      this.startUpload();
    }

    function uploadStart(file){
      $('#swfupload-playlist li#'+file.id).find('.progress').text('Uploading... 0%');
    	return true;
    }

    function uploadProgress(file, bytesLoaded, bytesTotal){
      var percentage=Math.round((bytesLoaded/file.size)*100);
      if (percentage<100){
       $('#swfupload-playlist li#'+file.id).find('.progress').text('Uploading... '+percentage+'%');
      }else{
       $('#swfupload-playlist li#'+file.id).find('.progress').text('Processing...');
      }
    }

    function uploadSuccess(file, serverData){
      $('#swfupload-playlist li#'+file.id).html($(serverData).fadeIn(1000)).removeClass('pending');
      $('#swfupload-playlist li#'+file.id+' a').each(function(){
        $(this).makePlayable();
      });
    }

    function uploadComplete(file){
      this.startUpload();
    }
  });
</script>