<div class="grid_10">

  <h2>playlist</h2>

  <% if user_signed_in? %>

    <div id="swfupload-control">
    	<span id="swfupload-button"></span>
    </div>

    <% content_for :head do %>
      <%= render 'uploader' %>
    <% end %>

  <% end %>

  <% if @feed_items.present? %>
    <ul id="swfupload-playlist" class="playlist">
      <% @feed_items.each do |feed_item| %>
        <li><%= render feed_item.post %></li>
      <% end %>
    </ul>
  <% end %>

</div>

<div id="users" class="grid_2">

  <h2>users</h2>

  <ul class="users">
    <% @users.each do |user| %>
      <li><%= render user %></li>
    <% end %>
  </ul>

  <h2 class="pad_top">invite a new user</h2>

  <%= render 'invitations/form' %>

</div>