<div id="swfupload-control">
	<span id="swfupload-button"></span>
</div>

<% content_for :head do %>
  <%= render 'uploader' %>
<% end %>

<ul id="swfupload-playlist" class="playlist">
  <% @posts.each do |post| %>
    <li><%= render post %></li>
  <% end if @posts %>
</ul>

<ul class="users">
  <% @users.each do |user| %>
    <li><b><%= link_to h(user), user %></b></li>
  <% end if @users %>
</ul>
